site_name: MEDC的笔记本
site_url: https://medc29.github.io/Mkdocs_Note/
repo_name: MEDC的笔记本
repo_url: https://github.com/MEDC29/Mkdocs_Note/
copyright: Copyright &copy; 2022-2025 <a href="https://github.com/MEDC29" target="_blank" rel="noopener">MEDC29</a>

theme:
  name: 'material'
  language: 'zh'
  icon:
    logo: material/dog
    repo: fontawesome/brands/github
    edit: material/pencil #可以编辑此页的图标
  custom_dir: overrides #自定义部分主题覆盖默认主题
  # favicon: images/icon.png
  features:
    - content.code.annotate
    - content.action.edit
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.footer
    - navigation.indexes
    - navigation.sections
  font:
    code: JetBrains Mono
  palette:
    - scheme: default

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - def_list
  - attr_list
  - md_in_html
  - sane_lists
  - admonition
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MEDC29/

extra_css:
  - https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,300i,400,400i,700,700i&display=fallback
  - https://unpkg.com/katex@0/dist/katex.min.css
  - css/tasklist.css
  - css/card.css
  - css/custom.css

extra_javascript:
  - js/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

plugins:
  - search
  - heti:
      extra_skipped_class:
        - arithmatex
hooks:
  - hooks/evalutations.py
  - hooks/contributors.py
  - hooks/changelog.py
  - hooks/outdate.py

validation: # 构建时检测行为
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: ignore
    absolute_links: ignore
    unrecognized_links: ignore

# not_in_nav: | # 在docs中但不显示的md文件
#   todo.md
#   cs/algorithm/ds-som/index.md

nav:
  - 首页:
    - index.md
  - 编程语言:
    - C/C++:
      - C 基础语法: cs/编程语言/C/c笔记.md